.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  div {
    p, h2 {
      font-family: sans-serif;
    }
    h2 {
      font-size: xx-large;
      color: whitesmoke;
    }
    p {
      font-size: small;
    }
    * {
      margin: 0;
    }
  }
  img {
    height: 70px;
    width: auto;
  }
}